.env
.venv/
**/.venv/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
outputs/
wandb/
models/llama_midi/checkpoints/
models/midi_llm/checkpoints/
models/text2midi/weight_models/
*.safetensors
*.mid
*.midi
*.wav
.pytest_cache/
.mypy_cache/
.ruff_cache/
